<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <app-logo></app-logo>Super Market
        <form class="form-inline my-2 my-lg-0 mx-auto  ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        <div class="dropdown"> 
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Name</a>
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
        </div>
      </div>

    </nav>
</div>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        <li class="nav-item " >
            <a class="nav-link" routerLink="/category-component" routerLinkActive="active">Categories</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home-component" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-component" routerLinkActive="active">Products</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us-component" routerLinkActive="active">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs-component" routerLinkActive="active">Blogs</a>
          </li>
        
          
       
      </ul>
      
    </div>
  </nav>

 
  <router-outlet></router-outlet>
